<% provide(:title, "Événements") %>
<div>
    <h1>Évenements à venir</h1>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Lieu</th>
                <th><i class="em em-eye"/></th>
                <% if logged_in? %>
                <th>Participation</th>
                <% end %>
            </tr>
            <% @events.each do |e|%>
            <% if e.date > Time.now %>
            <tr>
                <td> <%= e.name %> </td>
                <td> <%= e.date.strftime("%d/%m/%Y ") %> </td>
                <td> <%= e.place %> </td>
                <td> <%= link_to "Voir", e, class: "btn btn-sm btn-info" %> </td>
                <% if logged_in? %>
                <% if e.attendees.include?(current_user) %>
                <td class="text-success"> Inscris </td>
                <% else %>
                <td style="width:10%;"> <%= button_to 'Rejoindre', suscribe_event_path(e), method: :post, confirm: 'really?',  class: "btn btn-sm btn-primary" %> </td>  
                <% end %>
                <% end %>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
</div>
<br/>
<br/>
<div>
    <h1>Évenements passés</h1>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Lieu</th>
                <th><i class="em em-eye"/></th>
                <% if logged_in? %>
                <th>Participation</th>
                <% end %>
            </tr>
            <% @events.each do |e|%>
            <% if e.date < Time.now %>
            <tr>
                <td> <%= e.name %> </td>
                <td> <%= e.date.strftime("%d/%m/%Y ") %> </td>
                <td> <%= e.place %> </td>
                <td> <%= link_to "Voir", e, class: "btn btn-sm btn-info" %> </td>
                <% if logged_in? %>
                <% if e.attendees.include?(current_user) %>
                <td class="text-success"> Inscris </td>
                <% else %>
                <td style="width:10%;"> <%= button_to 'Rejoindre', suscribe_event_path(e), method: :post, confirm: 'really?',  class: "btn btn-sm btn-primary" %> </td>  
                <% end %>
                <% end %>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
</div>